<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>


    <add key="ladbrokes_base" value ="https://m-ladbrokes-staging.mobenga.com/#!"/>
    <!--<add key="admin_base" value ="https://ecomm-preprod.backoffice.ladbrokes.com/admin"/>-->
    <add key="admin_base" value ="https://stg-gib.ladbrokes.com/admin"/>
    <!--        
    <add key="admin_base" value ="https://stg-gib.ladbrokes.com/admin"/>
    <add key="ladbrokes_base" value ="https://m.ladbrokes.com/#!"/>
    -->

    <add key="ThrowOnJSError" value ="False"/>
    <add key ="WorkingEnvironment" value="Production"/>
    <add key ="ShowBrowser" value="True"/>
    <add key="ProdEnvironment" value="False"/>

    <!--Determines the user agent(device) to use.     
    "ios4":     iPhone ios4
    "ios4s":      iPhone ios4s
    "ios5":     iPhone ios5
    "ipod":     iPod IoS3
    "nexus4":   Nexus 4 (4.2.2)
    "htc":      HTC pyramid/LG (2.3.4)
    "sams2":    Samsung - S2 (4.0.3)
    "sams3":    Samsung - S3 (4.1.1)
    "sams4":    Samsung - S4 (4.2.2)   
    "samace"    Samsung - galaxy ace (2.2.1)
    "sonyxarc"    Sony - experia arc (2.3) 
         "ipadmini": iPad Mini
    "ipad":    iPAd
    "ipad2":    iPAd2
    "samtab":   Samsung Tab
    
    Iphone 4S(ios4s), Iphone5(ios5), iPad2(ipad2), Samsung-S3(sams3), Samsung-Galaxy Ace(samace)   
    -->

    <!-- Determines User Agent to use-->
    <add key="UseAgent" value="Yes"/>
    <add key="UserAgent" value="ios5"/>

    <!-- Determines UserName and Passowrd to log in-->
    <add key="UserName" value="ecomm_test_uat_arun"/>
    <add key="PassWord" value="123456"/>
    <add key="UserDisplayName" value="Arunkumar"/>

    <!--<add key="adminUserName" value="shweta_s"/>
    <add key="adminPassWord" value="Ladbrokes1"/>-->

    <add key="adminUserName" value="Automation1"/>
    <add key="adminPassWord" value="aditi123"/>

    <!--Determines what browser to load when doing the test: 0-IE,1-FireFox,2-Chrome,3-Safari-->
    <add key="BrowserType" value ="2"/>
    
    <!-- Page Load Time outs-->
    <add key="PageLoadTimeOut" value="50000"/>
    <add key="IconLoadTimeout" value="10000"/>
    <add key="ElementLoadTimeout" value="10000"/>
    <add key="OpenBetReflectTimeOut" value="10000"/>
  </appSettings>
</configuration>


